/*.tablecontainer{
    padding-left: 20px;
}

th {
    color: white;
    background-color: #2860a2;
}

.custRow:hover {
    background-color: lightblue !important;
}

td {
    background-color: #2860a254;
}

.generic-container {
    width:80%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

md-icon {
    margin: 8px 4px;
}

*/
